<form name="input" method="get"><table style="font-size:small;">
    <% @prefs.each do |label, name|
       val = param_lookup(name) %>
    <tr>
      <td><%= label %>:</td>
      <td><input <%= "value=\"#{val}\" " if val %>size="5" type="text" name="<%= name %>">
        <%= if name == "start"
            "<div class=\"error\">Bad Time!</a>" unless \
            Chronic.parse(param_lookup(name))
            elsif name == "duration" && param_lookup(name)
            "<div class=\"error\">Bad Interval!</a>" unless \
            ChronicDuration.parse(param_lookup(name))
            end %>
      </td>
    </tr>
      <% end %>
  </table> <input type="submit" value="Submit">
</form>

<form method="get"> <input type="submit" value="Clear"></form>
