<div class="group_container ui-corner-bottom last">
  <h4>dashboards:</h4>
  <span class="graphtitle">
    dashboards:
    <%= @dashboards.select do |d|
        @cluster == "global" || d.clusters.member?(@cluster)
        end.sort.collect do |d|
        # this works unless you have a cluster with the same name as a dashboard
        sub = append_query_string(request.path.sub(@dash.name, d.name))
        @dash == d ? "#{d}" : "<a href=\"#{sub}\">#{d}</a>"
        end.join(" ") %>
  </span>
</div>
